{% extends 'base.html.twig' %}

{% block title %}
	Confirmation de l'email
{% endblock %}

{% block body %}

	<div class="page-header parallaxie">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="page-header-box">
						<h1 class="text-anime">Confirmation de l'email</h1>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
